@import "./../../scss/global.scss";

.wrapperAbout {
  background-color: $main-green;
  .contantAbout {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 3rem 5%;

    h1 {
      font-size: 3.6rem;
      font-weight: 900;
      color: $body-text;
      @include media-query("max", $lap-start) {
        font-size: 1.5rem;
      }
      @include media-query("lap") {
        font-size: 2.6rem;
      }
    }
    img {
      max-width: 53rem;
      @include media-query("max", $lap-start) {
        max-width: 23rem;
      }
    }
  }
}

.wrapperFeatures {
  background-color: $background-sand;
  .contentFeatures {
    width: 100%;
    margin: 0 auto;
    padding: 8rem 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include media-query("max", $palm-start) {
      padding: 4rem 3%;
    }
    @include media-query("lap") {
      padding: 5rem 4%;
    }
  }
}

.carouselWrapper {
  background-color: $carousel-background;
}

.pressWrapper {
  background-color: $background-sand;
  padding: 3rem 0;
  margin: 0 auto;
  .pressContant {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
