@import "./../../scss/global.scss";

.content {
  width: 100%;
  padding: 0 5%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  .logoLink {
    color: $body-text;
    .logo {
      font-family: $pacifico;
      font-size: 2.7rem;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    a {
      font-family: $comfortaa;
      color: $nav-links !important;
      font-size: 1.6rem;
      transition: 0.3s;

      &:hover {
        text-decoration: underline;
        color: $nav-hover !important;
      }
      &:active {
        color: $nav-active !important;
      }
    }
  }
}
