@import "./../../scss/global.scss";
.wrapper {
  img {
    width: auto;
    display: block;
    max-width: 31rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .caption {
    color: $body-text;
    text-align: center;
    h3 {
      font-family: $pacifico;
      font-size: 3rem;
      margin-top: 5%;
    }
    .descr {
      max-width: 45rem;
      margin: 0 auto;
    }
    p {
      font-family: $comfortaa;
      font-size: 1.9rem;
    }
  }
}
