@import "./../../scss/global.scss";
.wrapper {
  width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $grey;
  text-align: center;
  margin-top: 1.3rem;
  .img {
    width: 8rem;
    transition: transform 2s ease-in-out;
    &:hover {
      transform: rotate(360deg);
    }
    @include media-query("max", $palm-start) {
      width: 7rem;
    }
  }
  .header {
    font-size: 1.9rem;
    font-weight: 900;
    margin-top: 2rem;
    @include media-query("max", $palm-start) {
      font-size: 1.4rem;
      margin-top: 2rem;
    }
  }
  .descr {
    font-size: 1.5rem;
    margin-top: 1rem;
    @include media-query("max", $palm-start) {
      font-size: 1.3rem;
      margin-top: 0.5rem;
    }
  }
}
