// Theme Colours
$main-green: rgb(112, 82, 122);
$pages-background: #fff0d7;
$nav-hover: #d588e0;
$nav-active: #e6e4e4;
$body-text: #f9faf9;
$background-sand: #ebcfc4;
$carousel-background: rgb(86, 63, 93);
$purple: #954ea0;
$nav-links: #d6bcb2;
$grey: #313131;
$background-press: #d3beb6;
// breakpoints
$mob-start: 374px;
$palm-start: 420px;
$lap-start: 768px;
$desk-start: 990px;
$wide-start: 1200px;
$page-width: 1700px;
