// Theme Colours
$main-green: #158467;
$pages-background: #fff0d7;
$nav-hover: #d588e0;
$nav-active: #e6e4e4;
$body-text: #f9faf9;
$background-sand: #fadcac;
$carousel-background: #065446;
$purple: #954ea0;
$nav-links: #81beae;

// breakpoints
$mob-start: 374px;
$palm-start: 420px;
$lap-start: 768px;
$desk-start: 990px;
$wide-start: 1200px;
$page-width: 1600px;
